body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(110, 218, 88);
    margin: 20px auto 5px;
}

.add-container {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(110, 218, 88);
}

form {
    padding: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid #7c7c7c;
    border-radius: 3px;
    box-sizing: border-box;
}

#add {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgb(110, 218, 88);
    border: none;
    font-weight: 900;
    font-size: medium;
    color: white;
    width: 100%;
    padding: 5px 0px 5px;
    border: none;
    border-radius: 3px;
}

.show-container {
    margin: 20px 10px 10px 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(107, 223, 227);
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

th, td {
    border: 1px solid #e4e3e3;
    padding-left: 10px;
}

input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

#delete {
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    padding: 10px 40px 10px;
    background: linear-gradient(to bottom right, #f27455, #f8f360);
    font-weight: 900;
    color: white;
}

.error {
    color: red;
}
